body {
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../pics/band_blurred.jpg");
  background-size: cover;
}

.under_construction {

  text-transform: uppercase;
  text-align: center;
}