
@font-face {
  font-family: 'ModernGrotesk';
  src: url('ModernGrotesk.eot?#iefix') format('embedded-opentype'),  url('ModernGrotesk.woff') format('woff'), url('ModernGrotesk.ttf')  format('truetype'), url('ModernGrotesk.svg#ModernGrotesk') format('svg');
  font-weight: normal;
  font-style: normal;
}
